{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="services_section layout_padding">
    <div>
        <div class="btn-main">
            <a href="{% url 'credentials:user_account' %}" class="btn btn-primary" role="button">CREATE YOUR ACCOUNT></a>
        </div>
        <div class="container">
        <p class="some_text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid amet assumenda consectetur debitis dicta distinctio dolores enim, esse fuga id illo iste labore laboriosam laborum laudantium maiores, modi molestiae molestias neque nesciunt nostrum officia optio pariatur placeat possimus quam quasi qui quisquam quod reiciendis rerum saepe sapiente tenetur voluptas voluptates voluptatum! Blanditiis commodi cupiditate dolorem ea minus porro quibusdam?
            Eos explicabo libero obcaecati quod repudiandae? Alias, ipsum veniam. Architecto aspernatur beatae cum, debitis delectus deserunt dolorem eius exercitationem expedita magni necessitatibus praesentium quisquam quo sed veritatis. Beatae dicta esse expedita fugit illo ipsam labore maiores maxime nemo officia omnis quidem quisquam rem rerum sapiente, suscipit temporibus! Ex ipsam laudantium obcaecati recusandae sint. Ab adipisci, aliquam, amet autem dolorem doloribus eaque esse exercitationem fugit id in laudantium
            mollitia praesentium quisquam ratione sunt, unde.
            Assumenda aut consequuntur culpa dicta ducimus error hic minima, quasi quibusdam quisquam rem sit vel voluptate? Debitis eaque et iste iure libero molestias recusandae ullam vel! Autem dicta eligendi fuga fugit laborum nam nostrum quos reprehenderit unde? Assumenda earum enim eveniet ipsam tempora vel. Aut dignissimos ea et libero magnam minus perspiciatis, placeat praesentium quibusdam reiciendis. Cumque error facilis fugiat maiores minima modi mollitia optio possimus reprehenderit!
        </p>
        </div>
    </div>
</div>
{% endblock %}